/**
 * Code formatting
 */

code {
    padding: 1px 5px;
    margin: 5px;
    border-radius: 3px;
    color: #f8f8f2;
    background-color: #272822;
    font-family: monaco;
    font-size: 0.935rem;
}

.highlight {
    background-color: #272822;
    border-radius: 5px;
    margin-bottom: 25px;
    
    pre {
        margin: 10px 10px 10px 10px;
        code {
            padding: 0;
            margin: 0;
            font-family: monaco;
            font-size: 1.05rem;
        }
    }
}
